
	body
	{
	background-color:#fff;
			background-image: url(../images/bg.png);
			background-repeat: repeat-x;
		text-align: center ;
		margin:0px;
	}

	#content {
  width: 850px;
	height:531px;
  margin-left: auto ;
  margin-right: auto ;
	margin-top:30px;
	background-image: url(../images/content.png);
	background-repeat: no-repeat;
	font-family:"Lucida Grande", Tahoma, Verdana, sans-serif;
	font-size:12px;
	text-align:left;
}
#panel
{
	float:left;
	margin-top:80px;
	text-align:left;
	padding-left:80px;
	width:400px;
}
.red1
{
	color:#cc250d;
	font-weight:bold;
}
input
{
	font-size:16px;
	font-weight:bold;
}

.file
{
	font-size:12px;
	font-weight:normal;
}
h1
{
	font-size:20px;
}
.error
{
	color:#ff1700;
}
textarea
{
	font-family:"Lucida Grande", Tahoma, Verdana, sans-serif;
	font-size:16px;
}
#user_new input {
	width:200px;
}
.alert {
	 
	color:red;
	font-weight:bold;
}
#nav
{
	padding-top:36px;
	float:right;
	padding-right:20px;
	clear:both;
	width:740px;
	text-align:right;
}

#nav a
{
	color:#3c667c;
}
#nav a:hover
{
	color:#cc250d;
}


#selected {visibility:hidden;background-repeat: no-repeat; width:91px;height:75px;float:right;margin-top:194px;margin-right:165px;clear:both;}
#selected img {text-align:center;padding-top:10px;padding-left:25px;}
.auto_complete {position:absolute;width:250px;background-color:#ffffff;border:1px solid #888;margin:0px;padding:0px;}
ul.contacts  {list-style-type:none;margin:0px;padding:0px;}
ul.contacts li.selected {background-color:#222222;}
li.contact {list-style-type:none;display:block;margin:0;padding:2px; font-weight:bold;font-size:14px;line-height:1.2em;}
li.contact div.image {float:left;width:32px;height:32px;margin-right:8px;}
li.contact div.name {font-weight:bold;font-size:16px;line-height:1.2em;}
li.contact div.email {font-size:10px;color:#888;}


#user_list {width:270px;height:auto;background-color:#ebebeb;max-height:70px;overflow-y:auto}
#user_list a {margin-top:4px;float:left;width:115px;border:1px solid #ccc;font-size:10px;padding:2px;background-color:#fff;display: block;margin-left:4px;}
#user_list a:hover {
	background-color:#dbfbff;
}
#user_list a img {height:25px;vertical-align:middle;}
#user_list a .x {float:right;padding-right:2px; cursor:pointer}
#user_list .sep {margin-top:4px;float:left;width:6px;}

 
